<div class="hero-unit">
	<h1>WELCOM HOME</h1>
	<p>
		You found 
		<%= link_to "Booya", "http://epic-grandeur.tumblr"%>
	</p>
	<p>
		<%= link_to "Sign up Now!", "#", class: "btn btn-primary" %>
	</p>
</div>

